body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  height: 100vh;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.back-link {
  justify-content: flex-start;
}

/* #region  Gallery*/

.gallery-section {
  padding: 24px 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 24px;
}

.gallery-item {
  max-width: calc((100% - 96px) / 3);
}
.gallery-image {
  transition: transform 250ms ease-in-out;
}

.gallery-link:hover .gallery-image {
  transform: scale(1.05);
}

/* #endregion */

/* #region Form */

button,
input,
textarea {
  border: none;
  outline: none;
  background: none;
}

label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

input:hover,
textarea:hover {
  border-color: #000000;
}

input:active,
textarea:hover {
  border-color: #808080;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 296px;
  background: #fff;
}

.input-email,
.textarea-message {
  border: 1px solid #808080;
  border-radius: 4px;
  color: black;
  width: 360px;
  height: 40px;
}

.textarea-message {
  height: 80px;
}

/* #endregion */
